.container {
  text-align: center;
  margin: auto;
}


.numbers {
  margin: auto;
  display: flex;
  width: 50vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.numbers > button {
  width: 30%;
}
